<div id="tab-monitoreo" class="tab-content" style="display: block; padding: 20px;">
    <div class="monitoreo-grid">
        <div class="panel">
            <h3>Entradas Digitales</h3>
            <table id="coils_inputs">
                <thead>
                    <tr>
                        <th>Elemento</th>
                        <th>Dirección</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for boton in elementos.botones_ev %}
                    <tr {% if boton.address==13 %}style="border-top: 2px solid #eee; background: #fffcfc;" {% endif %}>
                        <td>
                            {% if boton.address == 13 %}<strong>{% endif %}
                                {{ boton.nombre }}
                            {% if boton.address == 13 %}</strong>{% endif %}
                        </td>
                        <td>%M{{ boton.address }}</td>
                        <td id="coil-in-{{ boton.address }}" class="off">
                            OFF
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="panel">
            <h3>Salidas Digitales</h3>
            <table id="coils_outputs">
                <thead>
                    <tr>
                        <th>Elemento</th>
                        <th>Dirección</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for valvula in elementos.valvulas %}
                    <tr>
                        <td>{{ valvula.nombre }}</td>
                        <td>%Q0.{{ loop.index0 }} (Coil {{ valvula.entrada_server }})</td>
                        <td id="coil-out-{{ loop.index0 }}" class="off">OFF</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="panel">
            <h3>Entradas Analogicas</h3>
            <table id="registers_inputs">
                <thead>
                    <tr>
                        <th>Elemento</th>
                        <th>Dirección</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sensor in elementos.sensores %}
                    <tr>
                        <td>{{ sensor.nombre }}</td>
                        <td>%IW{{ sensor.address }}</td>
                        <td id="reg-in-{{ sensor.address }}" class="value">--</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>